# [Census-Income (KDD) Data Set](https://archive.ics.uci.edu/ml/datasets/Census-Income+%28KDD%29?fbclid=IwAR33gBAA7qDGXZuVj8Fye0SUnOXItybE2hy_4eCIUjYU3lHBwdIBFRdnSKI)
## Spis powszechny ludności Stanów Zjednoczonych w latach 1994-1995

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas_profiling
%matplotlib inline

In [11]:
columns = lineList = [line.rstrip('\n') for line in open('data/census-income.names')]
data = pd.read_csv('data/census-income.data', sep = ',', header=None, index_col=False, names=columns)

In [12]:
data

,age,class of worker,industry code,occupation code,adjusted gross income,education,wage per hour,enrolled in edu inst last wk,marital status,major industry code,...,country of birth father,country of birth mother,country of birth self,citizenship,total person income,own business or self employed,taxable income amount,fill inc questionnaire for veteran's admin,veterans benefits,weeks worked in year
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.,NaN,NaN,NaN
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.,NaN,NaN,NaN
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.,NaN,NaN,NaN
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.,NaN,NaN,NaN
5,48,Private,40,10,Some college but no degree,1200,Not in universe,Married-civilian spouse present,Entertainment,Professional specialty,...,Native- Born in the United States,2,Not in universe,2,52,95,- 50000.,NaN,NaN,NaN
6,42,Private,34,3,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Finance insurance and real estate,Executive admin and managerial,...,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN
7,28,Private,4,40,High school graduate,0,Not in universe,Never married,Construction,Handlers equip cleaners etc,...,Native- Born in the United States,0,Not in universe,2,30,95,- 50000.,NaN,NaN,NaN
8,47,Local government,43,26,Some college but no degree,876,Not in universe,Married-civilian spouse present,Education,Adm support including clerical,...,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.,NaN,NaN,NaN
9,34,Private,4,37,Some college but no degree,0,Not in universe,Married-civilian spouse present,Construction,Machine operators assmblrs & inspctrs,...,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN
10,8,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.,NaN,NaN,NaN
11,32,Not in universe,0,0,High school graduate,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.,NaN,NaN,NaN
12,51,Private,4,34,Some college but no degree,0,Not in universe,Married-civilian spouse present,Construction,Precision production craft & repair,...,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN
13,46,Private,37,31,High school graduate,0,Not in universe,Divorced,Business and repair services,Other service,...,Foreign born- Not a citizen of U S,0,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN
14,26,Private,24,12,Bachelors degree(BA AB BS),0,Not in universe,Never married,Manufacturing-nondurable goods,Professional specialty,...,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.,NaN,NaN,NaN
15,13,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.,NaN,NaN,NaN
16,47,Private,39,36,Bachelors degree(BA AB BS),0,Not in universe,Never married,Personal services except private HH,Machine operators assmblrs & inspctrs,...,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.,NaN,NaN,NaN
17,39,Not in universe,0,0,10th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Foreign born- Not a citizen of U S,0,Not in universe,2,0,94,- 50000.,NaN,NaN,NaN
18,16,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.,NaN,NaN,NaN
19,35,Private,12,41,High school graduate,0,Not in universe,Married-civilian spouse present,Manufacturing-durable goods,Handlers equip cleaners etc,...,Native- Born in the United States,0,Not in universe,2,49,95,- 50000.,NaN,NaN,NaN
20,12,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.,NaN,NaN,NaN
21,27,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Married-civilian spouse present,Construction,Precision production craft & repair,...,Native- Born in the United States,1,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN
22,56,Private,35,22,Some college but no degree,500,Not in universe,Married-civilian spouse present,Finance insurance and real estate,Adm support including clerical,...,Native- Born in the United States,2,Not in universe,2,32,95,- 50000.,NaN,NaN,NaN
23,46,Private,45,12,Masters degree(MA MS MEng MEd MSW MBA),0,Not in universe,Married-civilian spouse present,Other professional services,Professional specialty,...,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN
24,55,Not in universe,0,0,Some college but no degree,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,2,0,94,- 50000.,NaN,NaN,NaN
25,2,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.,NaN,NaN,NaN
26,1,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.,NaN,NaN,NaN
27,37,Private,3,34,Some college but no degree,0,Not in universe,Married-civilian spouse present,Mining,Precision production craft & repair,...,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.,NaN,NaN,NaN
28,4,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,0,0,95,- 50000.,NaN,NaN,NaN
29,37,Private,4,2,Bachelors degree(BA AB BS),0,Not in universe,Never married,Construction,Executive admin and managerial,...,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199493,13,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.,NaN,NaN,NaN
199494,5,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.,NaN,NaN,NaN
199495,44,Self-employed-not incorporated,38,2,Some college but no degree,0,Not in universe,Married-civilian spouse present,Business and repair services,Executive admin and managerial,...,Native- Born in the United States,0,Not in universe,2,50,94,- 50000.,NaN,NaN,NaN
199496,1,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.,NaN,NaN,NaN
199497,40,Self-employed-not incorporated,35,17,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Finance insurance and real estate,Sales,...,Native- Born in the United States,0,Not in universe,2,50,95,- 50000.,NaN,NaN,NaN
199498,50,Private,42,26,High school graduate,0,Not in universe,Married-civilian spouse present,Medical except hospital,Adm support including clerical,...,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN
199499,59,Private,24,2,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Manufacturing-nondurable goods,Executive admin and managerial,...,Native- Born in the United States,0,Not in universe,2,52,95,50000+.,NaN,NaN,NaN
199500,74,State government,44,42,7th and 8th grade,0,Not in universe,Widowed,Social services,Handlers equip cleaners etc,...,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN
199501,13,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.,NaN,NaN,NaN
199502,50,Federal government,29,2,Some college but no degree,0,Not in universe,Married-civilian spouse present,Transportation,Executive admin and managerial,...,Native- Born in the United States,2,Not in universe,2,48,95,- 50000.,NaN,NaN,NaN
199503,24,Private,33,29,11th grade,0,Not in universe,Never married,Retail trade,Other service,...,Native- Born in the United States,2,Not in universe,2,52,95,- 50000.,NaN,NaN,NaN
199504,43,Private,22,36,High school graduate,0,Not in universe,Married-civilian spouse present,Manufacturing-nondurable goods,Machine operators assmblrs & inspctrs,...,Foreign born- Not a citizen of U S,0,Not in universe,2,52,95,- 50000.,NaN,NaN,NaN
199505,33,Private,34,3,High school graduate,0,Not in universe,Married-civilian spouse present,Finance insurance and real estate,Executive admin and managerial,...,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.,NaN,NaN,NaN
199506,14,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.,NaN,NaN,NaN
199507,25,Self-employed-incorporated,33,16,Some college but no degree,0,Not in universe,Never married,Retail trade,Sales,...,Foreign born- U S citizen by naturalization,0,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN
199508,62,Private,4,2,Some college but no degree,0,Not in universe,Married-spouse absent,Construction,Executive admin and managerial,...,Native- Born in the United States,2,Yes,1,52,95,50000+.,NaN,NaN,NaN
199509,47,Local government,43,12,Doctorate degree(PhD EdD),0,Not in universe,Married-civilian spouse present,Education,Professional specialty,...,Native- Born in the United States,2,Not in universe,2,52,94,50000+.,NaN,NaN,NaN
199510,25,Private,33,41,Some college but no degree,0,Not in universe,Never married,Retail trade,Handlers equip cleaners etc,...,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN
199511,47,Private,23,37,Some college but no degree,0,Not in universe,Married-civilian spouse present,Manufacturing-nondurable goods,Machine operators assmblrs & inspctrs,...,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.,NaN,NaN,NaN
199512,71,Not in universe,0,0,High school graduate,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.,NaN,NaN,NaN
199513,57,Private,9,37,9th grade,0,Not in universe,Divorced,Manufacturing-durable goods,Machine operators assmblrs & inspctrs,...,Foreign born- Not a citizen of U S,0,Not in universe,2,52,95,- 50000.,NaN,NaN,NaN
199514,51,Private,33,19,10th grade,0,Not in universe,Widowed,Retail trade,Sales,...,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN
199515,87,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.,NaN,NaN,NaN
199516,3,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.,NaN,NaN,NaN
199517,39,Private,43,26,Bachelors degree(BA AB BS),0,Not in universe,Never married,Education,Adm support including clerical,...,Foreign born- Not a citizen of U S,2,Not in universe,2,52,95,- 50000.,NaN,NaN,NaN
199518,87,Not in universe,0,0,7th and 8th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.,NaN,NaN,NaN
199519,65,Self-employed-incorporated,37,2,11th grade,0,Not in universe,Married-civilian spouse present,Business and repair services,Executive admin and managerial,...,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN
199520,47,Not in universe,0,0,Some college but no degree,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Foreign born- U S citizen by naturalization,0,Not in universe,2,52,95,- 50000.,NaN,NaN,NaN
199521,16,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.,NaN,NaN,NaN
199522,32,Private,42,30,High school graduate,0,Not in universe,Never married,Medical except hospital,Other service,...,Foreign born- Not a citizen of U S,0,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN